<div>
  <h2>Customer</h2>
  <mat-card class="page-card full-mat-card mat-elevation-z2">
    <mat-card-content class="h-100per">
      <div class="h-100per" fxLayout="row" fxLayoutAlign="center center">
        <div class="empty-card">
          <img src="../../../../assets/images/add-product.png" />
          <h4>Add and manage your products</h4>
          <p>This is where you’ll add products and manage your pricing.
            <br>You can also import and export your product inventory.
          </p>
          <div>
            <a routerLink="/customer/add" mat-flat-button color="primary">Add Customer</a>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
