.input-section {
    padding: 20px 0;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.page-card {
    position: relative;
    mat-card-actions {
        position: absolute;
        bottom: 7px;
        display: block;
        width: calc(100% - 38px);
        padding: 14px 19px;
        left: 8px;
        border-top: 1px solid #afafaf;
    }
}
