<div>
  <h2>Subjects Add</h2>
  <form [formGroup]="subjectForm">

    <mat-card class="page-card full-mat-card mat-elevation-z5 ">
      <mat-card-content class="h-100per">
        <div class="container" fxLayout fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0">
          <div class="item item-4" fxFlex="200px">
            Item 4
          </div>
          <div class="item item-5" fxFlex="200px">
            Item 5
          </div>
        </div>
        <div> 
      </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
